.buttonLogin {
  padding: 1rem 5rem;
  height: max-content;
  border-radius: 5px;
  font-size: 2rem;
}

.label {
  width: 334px;

  :last-child {
    border-radius: 3px;
  }
}

.label > div > label {
  color: #e5e5e5;
  font-size: 1.6rem;
  font-weight: 400;
}
