.buttonLogin {
  padding: 1rem 5rem;
  height: max-content;
  border-radius: 5px;
  font-size: 2rem;
}

.label {
  width: 334px;

  :last-child {
    border-radius: 3px;
  }
}

.label > div > label {
  color: rgba(23, 23, 25, 0.3);
  font-size: 1.6rem;
  font-weight: 400;
  font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
text-align: left;

}
