.header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: #fff;
  border-bottom: 1px solid rgb(240, 240, 240);
  height: 8rem;
}

.container {
  height: 100%;
  display: flex;
  margin: 0 auto;
  width: 55%;
}

.logo {
  margin-right: 4rem;

  img {
    height: 48px;
    width: 48px;
  }
}

.menu {
  font-size: 1.8rem;
  border-bottom: none;
  height: 100%;
}
