@import '~antd/dist/antd.css';

* {
  font-family: 'Roboto', sans-serif;
}

.ant-col .ant-form-item-label {
  padding: 0;
}

.ant-input.ant-input-lg {
  height: 33px;
  font-size: 2rem;
  line-height: 2.4rem;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  height: 40px;
  padding: 0.5rem 1rem;
  font-size: 2rem;
}

.ant-input-search-button {
  width: 15rem;
  border-radius: 0px 5px 5px 0px;
}

html {
  overflow-y: scroll;
}
