@import '~antd/dist/antd.css';

* {
  font-family: 'Roboto', sans-serif;
}

h3.ant-typography {
  font-family: Roboto;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  color: #000;
}

.ant-col .ant-form-item-label {
  padding: 0;
}
