@import '~antd/dist/antd.css';

* {
  font-family: 'Roboto', sans-serif;
}

.ant-col .ant-form-item-label {
  padding: 0;
}

.ant-input-search-button {
  width: 15rem;
}

html {
  overflow-y: scroll;
}
